body {
  background-color: lightcoral; 
}

#container {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
}

#frame {
  display: flex;
  min-width: 500px;
  min-height: 550px;
  max-width: 500px;
  max-height: 550px;
  background-color: red;
  margin: auto;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
}

#title {
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: auto;
 margin-left: auto;
 color:#faaa2a;
}

#gridContainer {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.gridItem {
  flex: 1; /*not necessary?*/
  min-width: 25px;
  min-height: 25px;
  background-color: grey;
}

.stageOne {
  flex: 1; /*not necessary?*/
  background-color: black;
}

button {
  border-radius: 100%;
  min-height: 75px;
  min-width: 75px;
  max-height: 75px;
  max-width: 75px;
  background-color: white;
  border: none;
  font-weight: bold;
}

button::-moz-focus-inner {
  border: 0;
}

#buttonRow {
  display: flex;
  min-width: 475px;
  max-width: 475px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 50px;
}