body{
  background-color: lightcoral; 
}

#container {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

#reset {

}

#frame {
  display: flex;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  background-color: red;
  margin: auto;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
}

#title {
 margin: auto;
 color:#faaa2a;
}

#gridContainer {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.gridItem {
  flex: 1; /*not necessary?*/
  min-width: 25px;
  min-height: 25px;
  background-color: grey;
}

.hoverEffect {
  flex: 1; /*not necessary?*/
  background-color: black;
}